@import './../../styles/settings';
@import './../../styles/tools';

.c-link {
  display: block;
  color: $primary-text-color;
  transition: color 0s;
  overflow-wrap: break-word;
  &:hover {
    transition: color 0.2s;
    color: lighten($primary-text-color, 15%);
  }
}
