@import './../../styles/settings';
@import './../../styles/tools';

  .c-project__modal__image-wrapper {
    position: relative;
    flex-shrink: 0;
    height: $project-image-height;
  }

  .c-project__modal__image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }

  .c-project-modal__icon {
    border-radius: 50%;
    width: 44px;
    height: 44px;
    padding: 8px;
    background-color: #000000;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .c-project-modal__close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    background: none;
    display: flex;
    cursor: pointer;
    border-radius: 50%;
    background: rgba(0,0,0, 0.5);
    padding: 0.2rem;
  }

  .c-project-modal__details-wrapper {
    overflow-y: auto;
    text-align: left;
  }

  .c-project-modal__details {
    padding: 2rem;
  }

  .c-project-modal__title {
    margin-bottom: 0.75rem;
  }

  .c-project-modal__description {
    margin: 0.75rem 0;
  }
