.c-slash-separated-list {
  font-weight: 400;
  font-size: 1rem;
  list-style: none;
  margin: 0.75rem 0;
}

  .c-slash-separated-list__item {
    display: inline;
    &::after {
      content: '/';
      margin: 0 0.2rem;
    }
    &:last-child::after {
      content: none;
    }
  }
