html, body {
  width: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif; }

h1 {
  font-size: 2.5rem; }

.titleSection {
  color: white;
  text-align: center;
  border: 1px solid black;
  background: linear-gradient(to bottom right, #6f5499, #563d7c);
  padding: 2rem; }
  .titleSection a {
    color: white; }

.clear {
  clear: both; }

.mainBtn {
  background: #563d7c;
  border: 2px solid #6f5499;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  width: 6rem;
  text-align: center;
  margin: auto 10% auto 10%; }
  .mainBtn:only-child {
    margin: auto; }
  .mainBtn .buttonIcon {
    width: 1.5rem; }

.skillsSection {
  font-style: italic; }
  .skillsSection .skill::before {
    content: '/ '; }
  .skillsSection .skill:first-child:before {
    content: ''; }

.portfolio {
  position: relative;
  padding-top: 3rem; }
  .portfolio::before {
    content: '';
    position: absolute;
    top: 0;
    left: 30px;
    height: 100%;
    width: 4px;
    background: #6f5499; }
    @media screen and (min-width: 1041px) {
      .portfolio::before {
        left: 50%;
        margin-left: -2px; } }
  .portfolio .projectCard {
    margin: 3rem;
    margin-left: 7rem; }
    .portfolio .projectCard:first-child {
      margin-top: 0; }
    .portfolio .projectCard:last-child {
      margin-bottom: 0; }
      .portfolio .projectCard:last-child .imageSection {
        border-bottom: none; }
    @media screen and (min-width: 1041px) {
      .portfolio .projectCard {
        margin-left: 3rem; } }
    .portfolio .projectCard h2 {
      margin-top: 0; }
    .portfolio .projectCard .linkButtonDiv {
      margin-top: 2rem; }
    .portfolio .projectCard .timelineImage {
      position: absolute;
      border-radius: 50%;
      box-shadow: 0 0 0 4px #6f5499, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
      width: 60px;
      height: 60px;
      background: #563d7c;
      left: 0; }
      @media screen and (min-width: 1041px) {
        .portfolio .projectCard .timelineImage {
          left: 50%;
          margin-left: -30px; } }
      .portfolio .projectCard .timelineImage.isHidden {
        visibility: hidden; }
      .portfolio .projectCard .timelineImage.bounceIn {
        visibility: visible;
        -moz-animation: zoomBounce 0.6s;
        -o-animation: zoomBounce 0.6s;
        -webkit-animation: zoomBounce 0.6s;
        animation: zoomBounce 0.6s; }
      .portfolio .projectCard .timelineImage img {
        position: relative;
        left: 50%;
        top: 50%;
        width: 32px;
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
    .portfolio .projectCard .projectCardSection {
      width: 100%; }
      @media screen and (min-width: 1041px) {
        .portfolio .projectCard .projectCardSection {
          width: 45%; } }
    .portfolio .projectCard .imageSection {
      float: right;
      padding-bottom: 2rem;
      border-bottom: 1px solid rgba(0, 0, 0, 0.3); }
      @media screen and (min-width: 1041px) {
        .portfolio .projectCard .imageSection {
          text-align: center; } }
      .portfolio .projectCard .imageSection .projectImage {
        border: 1px solid rgba(0, 0, 0, 0.3); }
      .portfolio .projectCard .imageSection.isHidden {
        visibility: hidden; }
      .portfolio .projectCard .imageSection.bounceIn {
        visibility: visible;
        -moz-animation: bounceFromSideLeft 0.6s;
        -o-animation: bounceFromSideLeft 0.6s;
        -webkit-animation: bounceFromSideLeft 0.6s;
        animation: bounceFromSideLeft 0.6s; }
    .portfolio .projectCard .descriptionSection {
      float: left; }
      .portfolio .projectCard .descriptionSection.isHidden {
        visibility: hidden; }
      .portfolio .projectCard .descriptionSection.bounceIn {
        visibility: visible;
        -moz-animation: bounceFromSideLeft 0.6s;
        -o-animation: bounceFromSideLeft 0.6s;
        -webkit-animation: bounceFromSideLeft 0.6s;
        animation: bounceFromSideLeft 0.6s; }
      @media screen and (min-width: 1041px) {
        .portfolio .projectCard .descriptionSection.bounceIn {
          -moz-animation: bounceFromSideRight 0.6s;
          -o-animation: bounceFromSideRight 0.6s;
          -webkit-animation: bounceFromSideRight 0.6s;
          animation: bounceFromSideRight 0.6s; }
 }
    @media screen and (min-width: 1041px) {
      .portfolio .projectCard:nth-child(odd) .imageSection {
        float: left; }
        .portfolio .projectCard:nth-child(odd) .imageSection.bounceIn {
          -moz-animation: bounceFromSideRight 0.6s;
          -o-animation: bounceFromSideRight 0.6s;
          -webkit-animation: bounceFromSideRight 0.6s;
          animation: bounceFromSideRight 0.6s; }
      .portfolio .projectCard:nth-child(odd) .descriptionSection {
        float: right; }
        .portfolio .projectCard:nth-child(odd) .descriptionSection.bounceIn {
          -moz-animation: bounceFromSideLeft 0.6s;
          -o-animation: bounceFromSideLeft 0.6s;
          -webkit-animation: bounceFromSideLeft 0.6s;
          animation: bounceFromSideLeft 0.6s; }
 }
    .portfolio .projectCard img {
      max-width: 100%; }

.signOffSection .signOffInner {
  padding: 3rem 1rem 3rem 1rem;
  color: white;
  max-width: 100%;
  background: #563d7c;
  width: 100%;
  text-align: center; }
  .signOffSection .signOffInner a {
    color: white; }
  .signOffSection .signOffInner h3 {
    margin: 0; }

/*Animation*/
@keyframes zoomBounce {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    transform: scale(0.5); }

  60% {
    opacity: 1;
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }

  100% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes bounceFromSideLeft {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px); }

  60% {
    opacity: 1;
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    -webkit-transform: translateX(20px);
    transform: translateX(20px); }

  100% {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@keyframes bounceFromSideRight {
  0% {
    opacity: 0;
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    -webkit-transform: translateX(100px);
    transform: translateX(100px); }

  60% {
    opacity: 1;
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px); }

  100% {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

/*Animation End*/
/*# sourceMappingURL=main.css.map */