$desktopBP: 1170px;
$timelineColor: #6f5499;// rgba(190, 59, 200, 0.3);
$timelineInnerColor: #563d7c;//rgba(190, 59, 200, 1);
$lightDividerColor: rgba(0,0,0,0.3);

$timelineImageSize: 60px;
$timelineLeftSmall: ($timelineImageSize / 2);


html, body {
    width:100%;
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
}

.titleSection {
    color:white;
    text-align: center;
    border: 1px solid black;
    background: linear-gradient(to bottom right, $timelineColor , $timelineInnerColor);

    a {
        color:white;
    }
}

.clear {
    clear: both;
}

.mainBtn {
    background:$timelineInnerColor;
    border: 2px solid $timelineColor;
    color:white;
    text-decoration:none;
    border-radius:5px;
    display: inline-block;
    margin: auto;
    width: 6rem;

    .buttonIcon {
        width: 1.5rem;
    }
}


.skillsSection {
    font-style:italic;

    .skill {
        &::before {
            content: '/ ';
        }

        &:first-child:before {
            content: '';
        }
    }
}

.portfolio {
    position: relative;
    padding-top:3rem;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: $timelineLeftSmall;
        height: 100%;
        width: 4px;
        background: $timelineColor;

        @media screen and (min-width: $desktopBP) {
            left: 50%;
            margin-left: -2px;
        }
    }

    .projectCard {
        margin: 3rem;
        margin-left: 7rem;

        &:first-child {
            margin-top:0;
        }
        &:last-child {
            margin-bottom:0;
            .imageSection {
                border-bottom:none;
            }
        }

        @media screen and (min-width: $desktopBP) {
            margin-left: 3rem;
        }

        h2 {
            margin-top: 0;
        }

        .linkButtonDiv {
            margin-top:2rem;

        }

        $timelineImageSize: 60px;

        .timelineImage {
            position: absolute;
            border-radius: 50%;
            box-shadow: 0 0 0 4px $timelineColor, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
            width: $timelineImageSize;
            height: $timelineImageSize;
            background: $timelineInnerColor;
            left:0;
            
            @media screen and (min-width: $desktopBP) {
                left: 50%;
                margin-left: -($timelineImageSize / 2);
            }


            &.isHidden {
                visibility: hidden;
            }

            &.bounceIn {
                visibility: visible;
                -moz-animation: zoomBounce 0.6s;
                -o-animation: zoomBounce 0.6s;
                -webkit-animation: zoomBounce 0.6s;
                animation: zoomBounce 0.6s;
            }

            img {
                position: relative;
                left: 50%;
                top: 50%;
                width: 32px;
                -moz-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                -o-transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }
        }

        .projectCardSection {

            width:100%;

            @media screen and (min-width: $desktopBP) {
                width: 45%;
            }
        }

        .imageSection {
            float: right;
            padding-bottom: 2rem;
            border-bottom: 1px solid $lightDividerColor;

            
            @media screen and (min-width: $desktopBP) {
                text-align:center;
            }
            

            .projectImage {
                border: 1px solid $lightDividerColor;
            }

            &.isHidden {
                visibility: hidden;
            }

            &.bounceIn {
                visibility: visible;
                -moz-animation: bounceFromSideLeft 0.6s;
                -o-animation: bounceFromSideLeft 0.6s;
                -webkit-animation: bounceFromSideLeft 0.6s;
                animation: bounceFromSideLeft 0.6s;
            }
        }

        .descriptionSection {
            float: left;
        }

        &:nth-child(odd) {
            .imageSection {
                float: left;

                &.bounceIn {
                    -moz-animation: bounceFromSideRight 0.6s;
                    -o-animation: bounceFromSideRight 0.6s;
                    -webkit-animation: bounceFromSideRight 0.6s;
                    animation: bounceFromSideRight 0.6s;
                }
            }

            .descriptionSection {
                float: right;
            }
        }

        img {
            max-width: 100%;
        }
    }
}

.signOffSection {
    .signOffInner {
        padding: 3rem 1rem 3rem 1rem;
        color: white;
        max-width: 100%;
        background: $timelineInnerColor;
        width:100%;
        text-align:center;

        a {
            color: white;
        }

        h3 {
            margin: 0;
        }
    }
}

/*Animation*/

@keyframes zoomBounce {
    0% {
        opacity: 0;
        -moz-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -o-transform: scale(0.5);
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    60% {
        opacity: 1;
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes bounceFromSideLeft {
    0% {
        opacity: 0;
        -moz-transform: translateX(-100px);
        -ms-transform: translateX(-100px);
        -o-transform: translateX(-100px);
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
    }

    60% {
        opacity: 1;
        -moz-transform: translateX(20px);
        -ms-transform: translateX(20px);
        -o-transform: translateX(20px);
        -webkit-transform: translateX(20px);
        transform: translateX(20px);
    }

    100% {
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes bounceFromSideRight {
    0% {
        opacity: 0;
        -moz-transform: translateX(100px);
        -ms-transform: translateX(100px);
        -o-transform: translateX(100px);
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
    }

    60% {
        opacity: 1;
        -moz-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
        -o-transform: translateX(-20px);
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
    }

    100% {
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
/*Animation End*/
