<div class="c-footer">
  <div class="c-footer__contents">
    <a href="/" class="c-footer__home-link c-footer__link">
      <div class="c-footer__logo">{% include "icons/_logo.svg" %}</div>
      Chris Berry
    </a>
    <a class="c-footer__link" href="/posts">Posts</a>
    <a class="c-footer__link" href="/#projects">Projects</a>
    <a class="c-footer__link" href="https://github.com/chrisberry4545">GitHub</a>
    <a class="c-footer__link" href="mailto:chrisberry4545@googlemail.com">Email</a>
  </div>
</div>
