<div class="c-header">
  <div class="c-header__contents">
    <div class="c-header__logo">{% include "icons/_logo.svg" %}</div>
    <h1 class="c-header__tile">Chris Berry</h1>
    <h2 class="c-header__job">Full stack developer</h2>
    <div>
      <a class="c-header__link" href="/posts">Posts</a>
      <a class="c-header__link" href="/#projects">Projects</a>
      <a class="c-header__link" href="https://github.com/chrisberry4545">GitHub</a>
      <a class="c-header__link" href="mailto:chrisberry4545@googlemail.com">Email</a>
    </div>
  </div>
</div>
