<div class="c-header">
  <div class="c-header__contents">
    <div class="c-header__logo">{% include icons/_logo.svg %}</div>
    <h1>Chris Berry</h1>
    <h3 class="c-header__job">Full stack developer</h3>
    <div>
      <a class="c-header__link" href="https://github.com/chrisberry4545">GitHub</a>
      <a class="c-header__link" href="mailto:chrisberry4545@googlemail.com">Email</a>
    </div>
  </div>
</div>
