<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ item.data.pageTitle if item.data.pageTitle else pageTitle }}</title>
    <meta name="description" content="Blog and portfolio for Chris Berry. Currently Head of software engineering at Switchcraft.">
    <meta name="google-site-verification" content="Eyzgn-iMN5xdQ17VURMLpwDuw6GmjcxoLgXb28W92Ho" />
    <style>
      {% include "css/styles.css" ignore missing %}
    </style>
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta property="og:title" content="Chris Berry's blog and portfolio" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://chrisberry4545.github.io/" />
    <meta property="og:image" content="https://chrisberry4545.github.io/images/open-graph/logo.png" />
  </head>
  <body>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-6YJE3ZE2X7"></script>
    <script>
      (function() {
        if (window.location.hostname === "localhost") return;
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag("js", new Date());

        gtag("config", "G-6YJE3ZE2X7");
      })();
    </script>

    {{ content | safe }}

    {% include "_scripts.njk" %}
  </body>
</html>
