{% for project in collections.projects reversed %}
  <div class="c-project">
    <h2>{{ project.data.pageTitle }}</h2>
    <div class="c-project__inner">
      <picture class="c-project__img">
        <source media="(max-width: 800px)"
                srcset="{{project.data.image}}">
        <source media="(min-width:801px)"
                srcset="{{project.data.imageLarge}}">
        <img src="{{project.data.image}}" alt="{{project.data.pageTitle}}">
      </picture>

      <div class="c-project__summary">
        <div class="c-project__content">
          {{project.templateContent}}
        </div>
        {% if project.data.githubLink %}
          <a class="c-btn" href={{project.data.githubLink}} target="_blank">
            <i class="c-btn__icon">{% include icons/_github.svg %}</i>
            Github
          </a>
        {% endif %}
        {% if project.data.iosAppStoreLink %}
          <a class="c-btn" href={{project.data.iosAppStoreLink}} target="_blank">
            <i class="c-btn__icon">{% include icons/_app-store.svg %}</i>
            App Store
          </a>
        {% endif %}
        {% if project.data.playStoreLink %}
          <a class="c-btn" href={{project.data.playStoreLink}} target="_blank">
            <i class="c-btn__icon">{% include icons/_google-play.svg %}</i>
            Google Play
          </a>
        {% endif %}
        {% if project.data.webLink %}
          <a class="c-btn" href={{project.data.webLink}} target="_blank">
            <i class="c-btn__icon">{% include icons/_website.svg %}</i>
            Website
          </a>
        {% endif %}
      </div>

    </div>
  </div>
{% endfor %}
