$project-image-content-margin: 2rem;

.c-project {
  padding-top: 5rem;
  border-top: 1px solid $primary-highlight-color;
  margin-bottom: 5rem;

  &:first-child {
    border-bottom: none;
  }

  &:nth-child(even) {
    .c-project__inner {
      flex-direction: row-reverse;
    }
  }
}

  .c-project__inner {
    @media (min-width: $bp-tablet) {
      display: flex;
      max-width: 986px;
      margin: auto;
      align-items: flex-start;
      justify-content: space-between;
    }
  }

  .c-project__img {
    $project-img-margin-bottom: 2.75rem;
    margin-bottom: $project-img-margin-bottom;
    @media (min-width: $bp-tablet) {
      margin: 0 $project-image-content-margin $project-img-margin-bottom;
    }
  }

  .c-project-summary {
    @media (min-width: $bp-tablet) {
      margin: 0 $project-image-content-margin;
    }
  }

  .c-project__content {
    margin-bottom: 3.75rem;
    @media (min-width: $bp-tablet) {
      max-width: $btn-width;
    }
  }
