.c-header-slim {
  border-bottom: 1px solid $primary-color;
  padding: 20px;
}

.c-header-slim__inner {
  display: flex;
  align-items: center;
  max-width: $content-max-width;
  margin: auto;
}

.c-header-slim__logo {
  width: 40px;
  display: block;
}
