h1, h2, h3, h4, h5 {
  margin: 0;
  font-weight: 400;
  text-align: left;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 2rem;
  font-weight: 300;
  margin: 1rem 0;
  @media (min-width: $bp-tablet) {
    margin: 2rem 0;
  }
}
