$primary-text-color: #000000;
$primary-highlight-color: #7D7D7D;
$divider-color: #C9C9C9;
$primary-color: #000;
$primary-color-inverse: #FFF;
$primary-button-background-color: $primary-color;
$primary-button-text-color: $primary-color-inverse;
$primary-button-text-color-hover: $primary-color-inverse;
