.c-background-image-with-loading-spinner {
  background-size: cover;
  background-position: center;
  height: 100%;
}

  .c-background-image-with-loading-spinner__spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
